{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    </style>

</head>
<body>
    <!-- You may change the dimensions of this canvas -->
    <span id="owenrox"></span>
    <canvas id="myCanvas" width="900px" height="900px"></canvas>
</body>
<script>
    // getting the URL (you may want to use for Exercise 3)
  var hash = window.location.hash.substring(1);

  if (hash === 'display') {
      $('#myCanvas').css("width", "900px")
      $('#myCanvas').css("height", "900px")
    } else {
      $('#myCanvas').css("width", "300px")
      $('#myCanvas').css("height", "300px")
   }
  
  // setting up the canvas and one paper tool
  var canvas = document.getElementById('myCanvas');
  var context = canvas.getContext('2d');
  paper.setup(canvas);
  var tool = new paper.Tool();

  var socket = new WebSocket(
      'ws://p4-cbrown-tnguyen-connorwbrown871042.codeanyapp.com:8765/'
  );
  
  socket.onopen = function (event) {
    console.log("Socket open!");
   };
  
  var ids = {}; // hex: path
  var reg = {}; // hex: region rec
  var offset = {};
  //citing Paul Irish, https://www.paulirish.com/2009/random-hex-color-code-snippets/
  myHex = '#'+Math.floor(Math.random()*16777215).toString(16); //randomize for new browsers
  ids[myHex] = new paper.Path();
  ids[myHex].strokeColor = myHex;
  if (!(hash === 'display')) {
    console.log('not display')
    myLoc = [Math.random() * 600, Math.random() * 600];
    var direction = [Math.random() < 0.5 ? -5 : 5, Math.random() < 0.5 ? -5 : 5];
  } else {
    myLoc = [0,0];
  }
  
  var currHex = (' ' + myHex).slice(1);
  var tiltingStroke = false;
  var rectng;
  
  socket.onmessage = function(receivedMessage) {
//     if id is new, create new path, if not, append
//     console.log(receivedMessage.data);
    var msg = JSON.parse(receivedMessage.data);
//     console.log(msg);
    if (hash === 'display') {
//       console.log(msg);
      var thisPoint = new paper.Point(msg.point[1], msg.point[2]);
      thisPoint.x += msg.segment[0];
      thisPoint.y += msg.segment[1];
      if (!(msg.id in ids)) {
        ids[msg.id] = new paper.Path(thisPoint);
        ids[msg.id].strokeColor = msg.id;
        reg[msg.id] = new paper.Path.Rectangle(msg.segment[0], msg.segment[1], 300, 300);
        reg[msg.id].fillColor = msg.id;
        reg[msg.id].opacity = .1;
      } else {
        ids[msg.id].add(thisPoint);
        reg[msg.id].position = [msg.segment[0] + 150, msg.segment[1] + 150];
        if (tiltingStroke) {
          ids[msg.id].strokeColor = '#'+Math.floor(Math.random()*16777215).toString(16);
          tiltingStroke = false;
        }
      }
    } else {
      if (msg.id === myHex) {
        ids[msg.id].add([msg.point[1], msg.point[2]]);
        console.log("stroke added");
      }
    }
  }
  
  
  
  tool.onMouseMove = function(event) {
    var msg = {
      text: "hello!",
      segment: myLoc,
      id: myHex,
      point: event.point
    };
    socket.send(JSON.stringify(msg));
  }
  
  tool.onM
  
  var shifting = function() {
    if (!(hash === 'display') && ids[myHex].length > 5) {
      if (myLoc[0] + direction[0] < 600 && myLoc[0] + direction[0] > 0) {
        myLoc[0] += direction[0]
      } else {
        direction[0] = -1 *direction[0];
      }
      if (myLoc[1] + direction[1] < 600 && myLoc[1] + direction[1] > 0) {
        myLoc[1] += direction[1]
      } else {
        direction[1] = -1 *direction[1];
      }
      var msg = {
        text: "hello!",
        segment: myLoc,
        id: myHex,
        point: ids[myHex].getPointAt(ids[myHex].length)
      };
      socket.send(JSON.stringify(msg));
      }
    
  };

  var timer =  setInterval(shifting, 500);
  
  //citing stackexchange https://stackoverflow.com/questions/10097937/how-to-disable-scrolling-in-smartphone-and-tablet-browsers
  $('html, body').on('touchstart touchmove', function(e){ 
     //prevent native touch activity like scrolling
         e.preventDefault(); 
    });
 
  
   //Listen to orientation events
  var rotate;
  if (window.DeviceOrientationEvent) {
    window.addEventListener('deviceorientation', handleOrientation, true);
    console.log('Device orientation supported!');
  } else {
    console.log('Error: device orientation not supported!');
  }
  

  function handleOrientation(event) {
     rotate = event.gamma;
     if (rotate > 30) {
       console.log('Rotated!');
       var msg = {
         text: "new color!",
         type: "tilt for color change",
         id: myHex,
         point: event.point
       }
       tiltingStroke = true;
       socket.send(JSON.stringify(msg));
       console.log("Tilt msg sent");
     }
  }
  
 
  
  
//   //handling shake event
//   if (window.DeviceMotionEvent) {
//     window.addEventListener('deviceMotionEvent', handleMotion, true);
//     console.log("Device motion supported!");
//     $('#owenrox').text('Device motion supported!!');
//   } else {
//     console.log('Error: device motion not supported!');
//   }
  
  if (typeof window.DeviceMotionEvent != 'undefined') {
    var sensitivity = 20;

    // Position variables
    var x1 = 0, y1 = 0, z1 = 0, x2 = 0, y2 = 0, z2 = 0;

    // Listen to motion events and update the position
    window.addEventListener('devicemotion', function (e) {
        x1 = e.accelerationIncludingGravity.x;
        y1 = e.accelerationIncludingGravity.y;
        z1 = e.accelerationIncludingGravity.z;
    }, false);

    // Periodically check the position and fire
    // if the change is greater than the sensitivity
    setInterval(function () {
        var change = Math.abs(x1-x2+y1-y2+z1-z2);

        if (change > sensitivity) {
          context.clearRect(0, 0, canvas.width, canvas.height);
          alert('Shake!');
        }

        x2 = x1;
        y2 = y1;
        z2 = z1;
    }, 150);
}

    
  
  


</script>
</html>